<a href="https://colab.research.google.com/github/Adeel-Asghar05/Leetcode/blob/main/LeetCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("my name is adeel asghar")

my name is adeel asghar

In [2]:
print("i am from chishtaina dn study in islamia university of bahawalpur")

i am from chishtaina dn study in islamia university of bahawalpur

In [3]:
a=5

In [4]:
b=7

In [5]:
print(a+b)

12

In [6]:
print ("india","Pakistan","Nepal")

india Pakistan Nepal

In [11]:
print ("india","Pakistan","4", sep="+")

india+Pakistan+4

In [13]:
print ("2","3","4","=","23", sep="+")

2+3+4+=+23

In [14]:
print ({"name": "adeel", "age": 22, "gender":"male"})

{'name': 'adeel', 'age': 22, 'gender': 'male'}

In [17]:
name = "Adeel"
print(name)

Adeel

In [18]:
# Python is dynamic type lenguage means no need to declear datatype, pyhton is enough meture to understand datatype autmoatically,

In [19]:
#python is dynamic binding which means in python veriable can change datatype any time

In [31]:
#input in pyhton
first_num = input("Enter your first number")
second_num = input("enter your sencond number")
print("first number is",first_num)
print("second number is ",second_num)

Enter your first number12.5
enter your sencond number34
first number is 12.5
second number is  34

In [33]:
first_num = float(first_num)
second_num= int(second_num)
result= first_num + second_num
print("addition of these number is = ", result)

addition of these number is =  46.5